<!-- Launches all Stingray vision processes independent of other systems. -->
<launch>
  
  <include file="$(find vision_start)/vision.machine" />
  <include file="$(find vision_start)/config/stereo.xml" />
  <include file="$(find vision_start)/config/odometry.xml" />
  <include file="$(find vision_start)/config/staticTransforms.xml" />
  <include file="$(find vision_start)/config/mono.xml" />

</launch>
