<!--
  Launches calibration for single camera.

  Usage: roslaunch calibrate_mono.launch pattern:=<pattern_type>
    where <pattern_type> is one of chessboard, circles, or acircles
-->
<launch>

  <!-- Get pattern type (passed in to roslaunch as arg) -->
  <arg name="pattern" default="acircles" />

  <!-- Type of calibration pattern -->
  <arg name="chessboard" value="false" />
  <arg name="acircles" value="true" />
  <arg name="circles" value="false" />


  <!-- Start up monocular camera -->
  <include file="$(find vision_start)/config/mono.xml" />
  
  <!-- If using checkerboard calibration pattern -->
  <group if="$(arg chessboard)">
    <node pkg="camera_calibration" type="cameracalibrator.py" name="mono_calibration"
      args="--pattern chessboard --size 8x6 --square 0.054 image:=/camera/image_raw camera:=/camera">
    </node>
  </group>

  <!-- If using asymmetric circles calibration pattern -->
  <group if="$(arg acircles)">
    <node pkg="camera_calibration" type="cameracalibrator.py" name="mono_calibration"
      args="--pattern acircles --size 8x6 --square 1.601 --size 6x5 --square 4.137 image:=/camera/image_raw camera:=/camera">
    </node>
  </group>

  <!-- If using circle calibration pattern -->
  <group if="$(arg circles)">
    <node pkg="camera_calibration" type="cameracalibrator.py" name="mono_calibration"
      args="--pattern circles --size 8x6 --square 1.601 image:=/camera/image_raw camera:=/camera">
    </node>
  </group>

</launch>
